<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
   <div class="navbar-header navbar-left">
     <a href="/" class="navbar-left"><img class='nav-brand img-responsive' src="/images/icon/icon.png" /></a>
     <h1 class="nav-title"></h1>
   </div>
   <ul class='nav navbar-nav navbar-right'>
     <li class='nav-item nav-item-right'><button class='register-btn btn btn-success'><span class="left glyphicon glyphicon-ok"></span>&nbsp&nbspSign Up</button></li>
     <li class='nav-item nav-item-right'><button class='signin-btn btn btn-primary'><span class="left glyphicon glyphicon-log-in"></span>&nbsp&nbspSign In</button></li>
   </ul>
 </div>
</nav>
<% include modals.ejs %>
