<div class="modal" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <span class="left glyphicon glyphicon-user"></span>
        <h4 class="modal-title modal-header" id="myModalLabel">Register</h4>
      </div>
      <form id='register-form'>
        <div class="modal-body">
          <label for="email">Email / Username</label>
          <input class='form-control' id='email' type="email" placeholder='ex. example@mail.com' required /> <br>
          <label for="firstname">First Name</label>
          <input class='form-control' id='first-name' type="text" placeholder='ex. John' required /> <br>
          <label for="lastname">Last Name</label>
          <input class='form-control' id='last-name' type="text" placeholder='ex. Smith' required /> <br>
          <label for="password">Password</label>
          <input class='form-control passwords' id='password' type="password" placeholder='Password' required /> <br>
          <label for="password">Confirm Password</label>
          <input class='form-control passwords' id='password-confirm' type="password" placeholder='Confirm Password' required /> <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="left btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" id="signin-modal-btn" class="left btn btn-primary" data-dismiss="modal">Sign In</button>
          <button type ="submit" id="register-submit" class="right btn btn-success">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" id="signin-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <span class="left glyphicon glyphicon-log-in"></span>
        <h4 class="modal-title modal-header" id="myModalLabel">Sign In</h4>
      </div>
      <form id='signin-form'>
        <div class="modal-body">
          <label for="email">Email / Username</label>
          <input class='form-control' id='account-email' type="email" placeholder='ex. example@mail.com' required /> <br>
          <label for="password">Password</label>
          <input class='form-control' id='account-password' type="password" placeholder='Password' required /> <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="left btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="left btn btn-success register-btn" data-dismiss="modal">Sign Up</button>
          <button id="signin-submit" class="right btn btn-primary">Sign In</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" id="account-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <span class="left glyphicon glyphicon-tasks"></span>
        <h4 class="modal-title modal-header account-email"></h4>
      </div>
      <div class="modal-body">
        <ul class="Account information">
          <li class="account-detail">
              <b>First Name:</b>
              <span id="account-firstname"></span>
              <button id="firstname-edit" class="right btn btn-info"> Edit </button>
          </li>
          <hr />
          <li class="account-detail">
            <b>Last Name:</b>
            <span id="account-lastname"></span>
            <button id="lastname-edit" class="right btn btn-info"> Edit </button></p>
          </li>
          <hr />
          <li class="account-detail">
            <b>Chips:</b>
            <span id="account-chips"></span>
          </li>
          <hr />
          <li class="account-detail">
            <button id="delete-account-btn" class="left btn btn-danger">Delete Account</button>
            <button id="signout-btn" class="right btn btn-primary">Sign Out</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="delete-account-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-delete-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <span class="left glyphicon glyphicon-remove-sign"></span>
        <h4 class="modal-title modal-delete-header" id="myModalLabel">Delete Account</h4>
      </div>
      <div class="modal-body">
        <ul class="Account information">
          <form id='delete-form'>
            <div class="modal-body">
              <label for="email">Email / Username</label>
              <input class='form-control' id='delete-email' type="email" placeholder='ex. example@mail.com' required /> <br>
              <label for="password">Confirm Password</label>
              <input class='form-control' id='delete-password' type="password" placeholder='Password' required /> <br>
            </div>
            <div class="modal-footer">
              <button type="button" class="left btn btn-primary" data-dismiss="modal">Changed My Mind</button>
              <button id="signin-submit" class="right btn btn-danger">Confirm Deletion</button>
            </div>
          </form>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="buyin-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1>Buy In</h1>
      </div>
      <div class="modal-body">
        <ul class="Account information">
          <li class="account-detail">
            <label id="buyin-label" for="buyin-slider">Amount:</label>
            <input type="range" id="buyin-slider">
          </li>
          <hr />
          <li class="account-detail">
            <button id="buyin-submit" class="right btn btn-primary" data-dismiss="modal">Buy In</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
