<div class="modal" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="col-lg-12">
          <h2 class="text-center" id="myModalLabel" style="margin: -20px 0 15px 0!important;">Sign Up</h2>
        </div>
      </div>
      <form id='register-form'>
        <div class="modal-body">
          <div class="col-lg-6">
            <input class='form-control' id='first-name' type="text" placeholder='First Name' required />
          </div>
          <div class="col-lg-6">
            <input class='form-control' id='last-name' type="text" placeholder='Last Name' required />
            <br>
          </div>
          <div class="col-lg-12">
            <input class='form-control' id='email' type="email" placeholder='Email Address' required />
            <br>
            <input class='form-control passwords' id='password' type="password" placeholder='Password' required />
            <br>
            <input class='form-control passwords' id='password-confirm' type="password" placeholder='Confirm Password' required />
            <br>
            <button type ="submit" id="register-submit" class="right btn btn-success">Register</button>
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-lg-12" style="margin: 15px 0 0 0;">
          <h4 class="left" style="margin: 22px 0!important;">Already have an account?</h4>
          <button type="button" id="signin-modal-btn" class="right btn btn-primary" data-dismiss="modal">Sign In</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" id="signin-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="col-lg-12">
          <h2 class="text-center" id="myModalLabel" style="margin: -20px 0 15px 0!important;">Sign In</h2>
        </div>
      </div>
      <form id='signin-form'>
        <div class="modal-body">
          <div class="col-lg-12">
          <input class='form-control' id='account-email' type="email" placeholder='Email/Username' required />
          <br>
          <input class='form-control' id='account-password' type="password" placeholder='Password' required />
            <br>
          <button type="submit" id="signin-submit" class="right btn btn-primary">Sign In</button>
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-lg-12" style="margin: 15px 0 0 0;">
            <h4 class="left" style="margin: 10px 0!important;">Don't have an account?</h4>
            <button type="button" class="btn btn-success register-btn" data-dismiss="modal">Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" id="edit-password-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="col-lg-12">
          <h2 class="text-center" id="myModalLabel" style="margin: -20px 0 15px 0!important;">Edit Password</h2>
        </div>
      </div>
      <form id='edit-password-form'>
        <div class="modal-body">
          <div class="col-lg-12">
          <input class='form-control' id='current-password' type="password" placeholder='Current Password' required />
            <br>
          <input class='form-control passwords' id='new-password' type="password" placeholder='New Password' required />
            <br>
          <input class='form-control passwords' id='new-password-confirm' type="password" placeholder='Confirm New Password' required />
            <br>
            <button id="edit-password-submit" class="right btn btn-primary">Change Password</button>
          </div>
        </div>
        <div class="modal-footer">
          <span style="margin: 10px;"></span>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" id="account-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="col-lg-12">
          <h2 class="text-center account-email" id="myModalLabel" style="margin: -20px 0 15px 0!important;"></h2>
        </div>
      </div>
      <div class="modal-body">
        <div class="col-lg-12">
        <ul class="Account information">
          <li class="account-detail">
              <b>First Name:</b>
              <span id="account-firstname"></span>
              <button id="firstname-edit" class="right btn btn-info"> Edit </button>
          </li>
          <hr />
          <li class="account-detail">
            <b>Last Name:</b>
            <span id="account-lastname"></span>
            <button id="lastname-edit" class="right btn btn-info"> Edit </button></p>
          </li>
          <hr />
          <li class="account-detail">
            <b>Chips:</b>
            <span id="account-chips"></span>
          </li>
          <hr />
          <li class="account-detail">
            <b>Wins:</b>
            <span id="account-wins"></span>
          </li>
          <hr />
        </ul>
        </div>
          <li class="account-detail">
            <button id="delete-account-btn" class="left btn btn-danger">Delete Account</button>
            <button id="edit-password-btn" class="center-modal-button btn btn-warning">Change Password</button>
            <button id="signout-btn" class="right btn btn-primary">Sign Out</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="delete-account-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-delete-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="col-lg-12">
          <h2 class="text-center" id="myModalLabel" style="margin: -20px 0 15px 0!important;">Delete Account</h2>
        </div>
      </div>
      <div class="modal-body">
        <ul class="Account information">
          <form id='delete-form'>
            <div class="modal-body" style="padding: 0 15px!important;">
              <input class='form-control' id='delete-email' type="email" placeholder='Email Address' required /> <br>
              <input class='form-control' id='delete-password' type="password" placeholder='Confirm Password' required /> <br>
            </div>
            <div class="modal-footer">
              <button id="signin-submit" class="right btn btn-danger">Confirm Deletion</button>
              <div class="col-lg-12" style="margin: 15px 0 0 0;">
                <h4 class="left" style="margin: 10px 0!important;">Nevermind, I changed my mind.</h4>
                <button type="button" class="right btn btn-primary" data-dismiss="modal" style="border-radius: 30px!important;">Cancel</button>
              </div>
            </div>
          </form>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="buyin-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="col-lg-12">
          <h2 class="text-center" id="myModalLabel" style="margin: -20px 0 15px 0!important;">Buy In</h2>
        </div>
      </div>
      <div class="modal-body">
        <div class="col-lg-12">
        <label id="buyin-label" for="buyin-slider">Amount:</label>
        <input type="range" id="buyin-slider">
        <button id="buyin-submit" class="right btn btn-primary" data-dismiss="modal">Buy In</button>
      </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
