<!-- Game Room Page -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="expires" content="0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/table.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/cards.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  </head>
  <body>
    <% include includes/header.ejs %>
    <div id="gameroom">
    <div class="col-lg-9">
    <div id='table'>
      <div id="dealer-cards"><img class='card-image face-down'/></div>
      <div id="to-lobby-btn">Back To Lobby</div>
      <div id="previous-cards" class="hidden">
        <p>Previous Winning Hand:</p>
        <div id="winning-cards"><img class='card-image face-down'/></div>
      </div>
      <div id='seat1-statistics'>
        <div id='seat1-bid'></div>
        <div id='seat1-pot'></div>
      </div>
      <div id='seat2-statistics'>
        <div id='seat2-bid'></div>
        <div id='seat2-pot'></div>
      </div>
      <div id='seat3-statistics'>
        <div id='seat3-bid'></div>
        <div id='seat3-pot'></div>
      </div>
      <div id='seat4-statistics'>
        <div id='seat4-bid'></div>
        <div id='seat4-pot'></div>
      </div>
    </div>
    <div id="seat1-position">
      <div id="seat1"><button class='join btn btn-lg btn-primary'>Join</button></div>
      <div id="seat1-cards" class="player-cards"></div>
      <div class="actions" id="seat1-actions"></div>
      <div id="seat1-raise"></div>
    </div>
    <div id="seat2-position">
      <div id="seat2"><button class='join btn btn-lg btn-primary'>Join</button></div>
      <div id="seat2-cards" class="player-cards"></div>
      <div class="actions" id="seat2-actions"></div>
      <div id="seat2-raise"></div>
    </div>
    <div id="seat3-position">
      <div id="seat3"><button class='join btn btn-lg btn-primary'>Join</button></div>
      <div id="seat3-cards" class="player-cards"></div>
      <div class="actions" id="seat3-actions"></div>
      <div id="seat3-raise"></div>
    </div>
    <div id="seat4-position">
      <div id="seat4"><button class='join btn btn-lg btn-primary'>Join</button></div>
      <div id="seat4-cards" class="player-cards"></div>
      <div class="actions" id="seat4-actions"></div>
      <div id="seat4-raise"></div>
    </div>
    </div>
      <div class="chat-block col-lg-3">
        <h3 class="text-center">Chat With Other Players</h3>
        <div class="chat-section">
          <ul id="message-list" style="height: 300px!important;"></ul>
          <form id="chat-form">
            <input type="hidden" id="user" value="" />
            <input id="message" autocomplete="off" placeholder="Type yor message here.." style="width: 100%!important;">
            <input type="submit" id="button" value="Send" style="width: 100%!important;">
          </form>
        </div>
      </div>
    </div>
    <% include includes/footer.ejs %>
    <script src="/javascripts/game.js"></script>
  </body>
</html>
