<!-- Game Room Page -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="expires" content="0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/table.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/cards.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <% include includes/header.ejs %>
    <div id='table'>
      <div id="dealer-cards"><img class='card-image face-down'/></div>
      <div id="timer" class="hidden">30</div>
      <div id="previous-cards" class="hidden">
        <p>Previous Winning Hand:</p>
        <div id="winning-cards"><img class='card-image face-down'/></div>
      </div>
      <div id='seat1-statistics'>
        <div id='seat1-bid'></div>
        <div id='seat1-pot'></div>
      </div>
      <div id='seat2-statistics'>
        <div id='seat2-bid'></div>
        <div id='seat2-pot'></div>
      </div>
      <div id='seat3-statistics'>
        <div id='seat3-bid'></div>
        <div id='seat3-pot'></div>
      </div>
      <div id='seat4-statistics'>
        <div id='seat4-bid'></div>
        <div id='seat4-pot'></div>
      </div>
    </div>
    <div id="seat1-position">
      <div id="seat1"><button class='join btn btn-lg btn-primary'>Join</button></div>
      <div id="seat1-cards" class="player-cards"></div>
      <div class="actions" id="seat1-actions"></div>
      <div id="seat1-raise"></div>
    </div>
    <div id="seat2-position">
      <div id="seat2"><button class='join btn btn-lg btn-primary'>Join</button></div>
      <div id="seat2-cards" class="player-cards"></div>
      <div class="actions" id="seat2-actions"></div>
      <div id="seat2-raise"></div>
    </div>
    <div id="seat3-position">
      <div id="seat3"><button class='join btn btn-lg btn-primary'>Join</button></div>
      <div id="seat3-cards" class="player-cards"></div>
      <div class="actions" id="seat3-actions"></div>
      <div id="seat3-raise"></div>
    </div>
    <div id="seat4-position">
      <div id="seat4"><button class='join btn btn-lg btn-primary'>Join</button></div>
      <div id="seat4-cards" class="player-cards"></div>
      <div class="actions" id="seat4-actions"></div>
      <div id="seat4-raise"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="/javascripts/account.js"></script>
    <script src="/javascripts/chat.js"></script>
    <script src="/javascripts/scoreboard.js"></script>
    <script src="/javascripts/game.js"></script>
  </body>
</html>
