body {
  font: 14px "PT Sans", Helvetica, Arial, sans-serif!important;
    color: #666!important;
}

a {
  color: #00B7FF;
}

.hidden {
  display: none;
}

.block-item {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.modal-title {
  color: white;
  font-size: 18pt;
  padding: 0px;
}

.account-detail {
  padding: 20px;
  list-style: none;
  font-size: 110%;
}

.scale-up {
  transform: scale(1.2);
}

.nav-item-right {
  float: right;
  padding: 10px 5px;
}

button.register-btn.btn.btn-success, button.signin-btn.btn.btn-primary {
    border-radius: 20px !important;
    padding: 8px 20px !important;
}

.modal-header > .glyphicon,
.modal-delete-header > .glyphicon {
  padding-top: 10px;
  font-size: 200%;
}

.glyphicon {
  padding-top: 2px;
}

.back-to-info {
  cursor: pointer;
}

.right {
  float: right;
}

.center-modal-button {
  text-align: center;
  margin-left: 3.3em;
}

.left {
  float: left;
}

.scoreboard-section {
  float: left;
  padding-left: 100px;
}

.scoreboard-header {
    text-align: center;
    padding: 10px;
    background: #337ab7;
    margin: 0px!important;
    color: #fff;
}

.scoreboard-container {
    border: 1px solid #ddd;
    margin: 20px 0;
}

.right-section {
  padding-left: 500px;
}

.chat-block {
  display: inline-block;
}

.chat-section {
	  text-align: center;
    border: 1px solid #e7e7e7;
    padding: 5px 5px 30px 5px;
    width: 100%;
}

#view-games-btn {
    font-size: 14pt;
    width: 60%;
    padding: 10px 0;
    margin-top: 20px;
}

.btn {
  margin-right: 3px;
  border-radius: 0 !important;
}

.nav-brand {
  text-align: center;
  padding-top: 5px;
  width: 45px;
}

#footer {
  position: relative;
  width: 100%;
  height: 3em;
  left: 0;
  bottom: -17em;
  text-align: center;
  overflow: hidden;
}

.about-body {
  font-weight: bold;
  margin-top: -2em;
}

.about-body > div > h2 {
  border: 1px black solid;
  box-shadow: 1px 2px 2px 1px #262626;
  background-color: #337ab7; 
  color: white;
  padding: 5px;
}

.modal-header {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #337ab7;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

.modal-delete-header {
  background-color: #d9534f!important;
}

#loading {
	position:relative;
	width:100px;
	height:28px;
	margin:auto;
}

.loading {
	position:absolute;
	top:0;
	background-color:white;
	width:14px;
	height:14px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}

#dot-1 {
	left:0;
	animation-delay:0.3s;
		-o-animation-delay:0.3s;
		-ms-animation-delay:0.3s;
		-webkit-animation-delay:0.3s;
		-moz-animation-delay:0.3s;
}

#dot-2 {
	left:29px;
	animation-delay:0.375s;
		-o-animation-delay:0.375s;
		-ms-animation-delay:0.375s;
		-webkit-animation-delay:0.375s;
		-moz-animation-delay:0.375s;
}

#dot-3 {
	left:58px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

@keyframes bounce_fountainG {
	0%{
	transform:scale(1);
    background-color:rgb(255,255,255);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(0,0,0);
	}
}

@-o-keyframes bounce_fountainG {
	0%{
	-o-transform:scale(1);
    background-color:rgb(255,255,255);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(0,0,0);
	}
}

@-ms-keyframes bounce_fountainG {
	0%{
	-ms-transform:scale(1);
    background-color:rgb(255,255,255);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(0,0,0);
	}
}

@-webkit-keyframes bounce_fountainG {
	0%{
	-webkit-transform:scale(1);
    background-color:rgb(255,255,255);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(0,0,0);
	}
}

@-moz-keyframes bounce_fountainG {
	0%{
	-moz-transform:scale(1);
    background-color:rgb(255,255,255);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(0,0,0);
	}
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 12px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 2px 2px 1px #262626;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 2px 2px 2px 1px #262626;
    border: 1px solid rgba(48, 113, 169, 0.88);
    height: 21px;
    width: 20px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 2px 2px 1px #262626;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
}
input[type=range]::-moz-range-thumb {
    box-shadow: 2px 2px 2px 1px #262626;
    border: 1px solid rgba(48, 113, 169, 0.88);
    height: 21px;
    width: 20px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid rgba(1, 1, 1, 0);
    border-radius: 2.6px;
    box-shadow: 1px 2px 2px 1px #262626;
}
input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid rgba(1, 1, 1, 0);
    border-radius: 2.6px;
    box-shadow: 1px 2px 2px 1px #262626;
}
input[type=range]::-ms-thumb {
    box-shadow: 2px 2px 2px 1px #262626;
    border: 1px solid rgba(48, 113, 169, 0.88);
    height: 21px;
    width: 20px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}

/* chat */
form {position: relative;bottom: 0;width: 100%;}
form input {height: 50px; padding: 10px;width: 80%;border: 1px solid #e7e7e7;}
form #button {color: #fff;background: #5cb85c;border: none;padding: 10px;width: 75px;}
#message-list {list-style-type: none;margin: 0;padding: 0;width: 100%;height: 450px;}
#message-list li { padding: 5px 10px; }
#message-list li:nth-child(odd) { background: #eee; }

#index, #lobby {
    margin-top: 8em!important;
    margin-bottom: 5em!important;
}

#gameroom {
    margin-top: 8em!important;
}

td, th {
    text-align: left;
    padding: 8px!important;
}

tr:nth-child(even) {
    background-color: #ddd;
}

.navbar {
    height: 5em!important;
}

.navbar-header, .navbar-right {
    padding: 10px 0!important;
}

.nav-title {
    display: inline-block;
    color: #fff;
    margin: 0.5em;
    font-size: 28px;
}

.modal-footer {
    border-top: 0!important;
}

.modal-content {
    box-shadow: none!important;
    border-radius: 0!important;
}

#first-name, #last-name, #password, #password-confirm, #email,
#account-email, #account-password, #account-lastname, #account-firstname,
#delete-email, #delete-password, #delete-password-confirm, #current-password, #new-password,
#new-password-confirm {
    height: 50px!important;
    padding-left: 10px;
    border-radius: 0px!important;
    box-shadow: none!important;
}


button#register-submit, button#signin-submit, button#edit-password-submit {
    width: 100%;
    padding: 15px;
    border-radius: 0px!important;
 }

.close {
    font-size: 45px!important;
}

.btn {
    margin-right: 0px!important;
}


.modal-header {
    border: 0!important;
    color: #fff!important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.modal-header .close {
    margin-top: -10px!important;
    margin-right: -5px!important;
}

button#signin-modal-btn, button.btn.btn-success.signup-btn {
    margin: 12px!important;
    height: 40px;
    width: 25%;
    border-radius: 50px!important;
}

button.account-btn.btn.btn-primary {
    border-radius: 20px!important;
}

.modal-glyphicons {
    top: -16px!important;
    left: 15px;
    font-size: 20px;
}

.modal-body {
    padding: 30px 15px 0px 15px!important;
}

button#edit-password-btn {
    margin-left: 10px!important;
}

#create-game {
    margin-top: 20px!important;
}
