#table {
  background-image: url('../images/table.png');
  background-repeat: no-repeat;
  height: 320px;
  width: 560px;
  margin-left: 12em;
  margin-top: 10em;
  position: relative;
  background-position: center;
}

#dealer-cards {
  margin-left: 9.5em;
  margin-top: 8em;
  display: inline-block;
}

#dealer-cards > img {
  margin-right: -20px;
}

.highlight-card {
  border: 3px solid #ff9900;
}

.actions > .btn {
  padding: 5px;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.actions > .btn:hover {
  transform: scale(1.2);
}

#seat1-position {
  margin-top: -2em;
  margin-left: 25em;
  position: absolute;
  display: center;
}

#seat2-position {
  margin-top: -19em;
  margin-left: 0.1em;
  position: absolute;
}

#seat3-position {
  margin-top: -33.9em;
  margin-left: 25em;
  position: absolute;
}

#seat4-position {
  margin-top: -19em;
  margin-left: 52em;
  position: absolute;
}

#seat1-statistics {
  margin-left: 19em;
  margin-top: 1.8em;
  position: absolute;
  font-weight: bold;
}

#seat2-statistics {
  margin-top: -5em;
  margin-left: 5.5em;
  position: absolute;
  font-weight: bold;
}

#seat3-statistics {
  margin-left: 19em;
  margin-top: -12em;
  position: absolute;
  font-weight: bold;
}

#seat4-statistics {
  margin-top: -5em;
  margin-left: 30em;
  position: absolute;
  font-weight: bold;
}

#seat1 > .join,
#seat1-actions > .ready-btn {
  margin-left: 4em;
  margin-top: 2em;
  position: absolute;
}

#seat2 > .join,
#seat2-actions > .ready-btn {
  margin-left: 5em;
  margin-top: 4em;
  position: absolute;
}

#seat3 > .join,
#seat3-actions > .ready-btn {
  margin-left: 4em;
  margin-top: 4em;
  position: absolute;
}

#seat4 > .join,
#seat4-actions > .ready-btn {
  margin-top: 4em;
  position: absolute;
}

#raise-text {
  border: 1px black solid;
  background-color: #428bca;
  color: white;
  padding: 0px;
  margin-bottom: -5px;
  text-align: center;
}

#seat1, #seat2,
#seat3, #seat4 {
  margin-bottom: -10px;
}

#timer {
  border: 1px black solid;
  background-color: #d9534f;
  color: white;
  padding: 5px;
  font-size: 2em;
  margin-top: -12.5em;
  margin-left: -5.8em;
  position: absolute;
}

#previous-cards {
  margin-top: -20.5em;
  margin-left: -10.5em;
  position: absolute;
}

#previous-cards > p {
  margin-left: 5em;
  padding-bottom: -1em;
  font-weight: bold;
}

#previous-cards > #winning-cards > img {
  margin-right: -1.5em;
}
