#table {
  background-image: url('../images/poker-table.png');
  background-repeat: no-repeat;
  height: 400px;
  width: 700px;
  left: 13em;
  top: 10em;
  position: relative;
  background-position: center;
}

.display-name {
  position: relative;
  text-align: center;
  color: #fff;
  padding: 0.25em;
  background-color: #428bca;
  width: 10.7em;
  box-shadow: 1px 2px 2px 1px #262626;
}

.player-pointer {
  color: #000;
}

#dealer-cards {
  left: 15em;
  top: 8em;
  position: absolute;
}

#dealer-cards > img {
  margin-right: -20px;
}

.highlight {
  border: 2.5px solid #ff9900;
}

.actions > .btn {
  padding: 5px;
  margin: 2px;
  box-shadow: 1px 2px 2px 1px #262626;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius: 2px;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.actions > .btn:hover {
  transform: scale(1.2);
}

#seat1-position {
  top: 33em;
  left: 33em;
  position: absolute;
  color: #000;
}

#seat2-position {
  top: 13em;
  left: 1em;
  position: absolute;
  color: #000;
}

#seat3-position {
  top: -2em;
  left: 33em;
  position: absolute;
  color: #000;
}

#seat4-position {
  top: 12em;
  left: 61.5em;
  position: absolute;
  color: #000;
}

#seat1-statistics {
  left: 24em;
  top: 17.5em;
  position: absolute;
  font-weight: bold;
  color: #000;
}

#seat2-statistics {
  top: 11em;
  left: 5.5em;
  position: absolute;
  font-weight: bold;
  color: #000;
}

#seat3-statistics {
  top: 5em;
  left: 24em;
  color: #000;
  position: absolute;
  font-weight: bold;
}

#seat4-statistics {
  top: 11em;
  left: 41em;
  color: #000;
  position: absolute;
  font-weight: bold;
}

.join {
  box-shadow: 1px 2px 2px 1px #262626;
}

#seat1 > .join {
  top: 2em;
  left: 3em;
  position: absolute;
}

#seat2 > .join {
  left: 7em;
  top: 7em;
  position: absolute;
}

#seat3 > .join {
  left: 3em;
  top: 7em;
  position: absolute;
}

#seat4 > .join {
  top: 7em;
  left: 1em;
  position: absolute;
}

#raise-text {
  background-color: #428bca;
  box-shadow: 1px 2px 2px 1px #262626;
  color: white;
  padding: 0px;
  margin-bottom: -5px;
  text-align: center;
}

#seat1, #seat2,
#seat3, #seat4 {
  margin-bottom: -10px;
}

#timer, #to-lobby-btn {
  border: 1px black solid;
  box-shadow: 1px 2px 2px 1px #262626;
  color: white;
  padding: 5px;
  font-size: 2em;
  top: -6em;
  left: -6.5em;
  position: absolute;
}

#timer {
  background-color: #d9534f;
}

#to-lobby-btn {
  background-color: #428bca;
  cursor: pointer;
}

#previous-cards {
  bottom: -5em;
  right: -10.5em;
  position: absolute;
}

#previous-cards > p {
  margin-left: 5em;
  padding-bottom: -1em;
  font-weight: bold;
}

#previous-cards > #winning-cards > img {
  margin-right: -1.5em;
}
